body {
   
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-color: black;

}

#homecontainer {
    width: 100%;
    text-align: center;
    position: fixed;
}

.loriet {
    font-size: 200px;
    color: rgb(127, 251, 255);
    margin-top: 500px;
    margin-bottom: 60px;
    -webkit-text-stroke: 4px;
    -webkit-text-stroke-color: black;
    z-index: 1;
}

.line {
    background-color: black;
    padding: 3px;
    margin: 0 550px 0 550px;
}

ul {

    text-align: center;
    padding: 0;
    margin: -135px 900px 0px 900px;
}

ul li {
    font-size: 100px;
    color: aliceblue;
    display: inline-block;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: black;
    padding-left: 50px;
    padding-right: 50px;
}
